body {
    background-color:darkgrey;
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

h1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Shojumaru', cursive;
    font-weight: bolder;
    font-style: italic;
    margin: 0 0 0 0;
    background-color: whitesmoke;
    padding: 1vmin 1rem;
}

.choice {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.choice:hover {
    background-color: gold;
}

#gameboard {
    display: grid;
    background-color: grey;
    grid-template-areas:
        "choice choice choice"
        "space space space"
}

table {
    border-collapse: collapse;
    /* margin: 0 0 0 2vw; */
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}