body {
    background-color:darkgrey;
    margin: auto;
    height: 100%;
    padding: 0;
}

h1 {
    font-size: 80px;
    font-size: 5vw;
    text-align: center;
    font-family: 'Shojumaru';
    font-weight: bolder;
    font-style: italic;
    margin: 0 0 0 0;
    background-color: whitesmoke;
    padding: 1vmin 1rem;
}

.choice {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.choice:hover {
    background-color: gold;
}

#gameboard {
    display: grid;
    position: relative;
    border: 1 px;
    width: 100vw;
    background-color: grey;
    grid-gap: 10px;
    grid-template-areas:
        "choice choice choice"

}

footer {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color:rgb(74, 74, 175);
}

li {
    text-align: left;
}

.rules-window {
    display: none;
    position: absolute;
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Righteous', cursive;
    z-index: 100;
    border-radius: 5px;
    opacity: 1;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}